.canvas-container{
    position: relative;
    width: 1024px;
    height: 768px;
}
#mathCanvas{
    position: absolute;
    background-color: #0FF;
}
#cloud{
    position: absolute;
    width: 240px;
    right: 20px;
    top: 120px;
}
#eCloud{
    position: absolute;
    width: 600px;
    height: 250px;
    left: 30px;
    top: 35px;
}
#equation{
    position: absolute;
    left: 230px;
    top: -10px;
    font-family: cursive;
    font-size: 100px;
}
#bubble1{
    position: absolute;
    left: 100px;
    bottom: 275px;
}
#bubble2{
    position: absolute;
    left: 100px;
    bottom: 50px;
}
#bubble3{
    position: absolute;
    left: 415px;
    bottom: 275px;
}
#bubble4{
    position: absolute;
    left: 415px;
    bottom: 50px;
}
#bubble5{
    position: absolute;
    left: 725px;
    bottom: 275px;
}
#bubble6{
    position: absolute;
    left: 725px;
    bottom: 50px;
}


.bubble{
    background: radial-gradient(100% 115% at 25% 25%, #fff, transparent 33%), 
    radial-gradient(15% 15% at 75% 75%, #383838, transparent), 
    radial-gradient(100% 100% at 50% 25%, transparent, #0a0a0a 98%);
    border: 1px solid #5a5a5a;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    font-family: cursive;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 72px;
    margin: 4px 2px;
    cursor: pointer;
}
.correctBubble:focus{
    color: rgb(62, 201, 20);
    background: radial-gradient(100% 115% at 25% 25%, #0FF, transparent 33%), 
    radial-gradient(15% 15% at 75% 75%, #0FF, transparent), 
    radial-gradient(100% 100% at 50% 25%, transparent, #0FF 98%);
    border: 1px solid #0FF;
}
.incorrectBubble:focus{
    color: rgb(223, 12, 12);
    background: radial-gradient(100% 115% at 25% 25%, #0FF, transparent 33%), 
    radial-gradient(15% 15% at 75% 75%, #0FF, transparent), 
    radial-gradient(100% 100% at 50% 25%, transparent, #0FF 98%);
    border: 1px solid #0FF; 
}




